<div class="title"><h3>Quét mã vạch</h3></div>

<div class="camera">
  <video #video id="video" autoplay muted playsinline></video>
</div>

<div class="product" style="margin-top: 8px">
  <div class="barcode">
    <label>Mã vạch:</label>
    <input [(ngModel)]="barcode" type="number" />
  </div>

  <div class="name">
    <label>Tên sản phẩm:</label>
    <input [(ngModel)]="name" />
  </div>

  <div class="price">
    <label>Giá sản phẩm:</label>
    <input [(ngModel)]="price" type="number" />
  </div>

  <div class="unit">
    <label>Đơn vị tính:</label>
    <input [(ngModel)]="unit" type="text" />
  </div>

  <div class="group">
    <label>Nhóm sản phẩm:</label>
    <input [(ngModel)]="group" type="text" />
  </div>

  <div class="confirm">
    <button (click)="save()">Lưu sản phẩm</button>
  </div>
</div>

<ng-template #notification>
  <div class="notification">
    <p>Quét mã vạch trên sản phẩm để nhập thông tin !</p>
  </div>
</ng-template>
